[submodule "SIMPL"]
	path = SIMPL
	url = https://github.com/bluequartzsoftware/SIMPL
[submodule "SIMPLView"]
	path = SIMPLView
	url = https://github.com/bluequartzsoftware/SIMPLView
[submodule "H5Support"]
	path = H5Support
	url = https://github.com/bluequartzsoftware/H5Support
[submodule "EbsdLib"]
	path = EbsdLib
	url = https://github.com/bluequartzsoftware/EbsdLib
[submodule "CMP"]
	path = CMP
	url = https://github.com/bluequartzsoftware/CMP
[submodule "DREAM3D"]
	path = DREAM3D
	url = https://github.com/bluequartzsoftware/DREAM3D
[submodule "DREAM3D_Plugins/ITKImageProcessing"]
	path = DREAM3D_Plugins/ITKImageProcessing
	url = https://github.com/bluequartzsoftware/ITKImageProcessing
[submodule "DREAM3D_Plugins/SimulationIO"]
	path = DREAM3D_Plugins/SimulationIO
	url = https://github.com/bluequartzsoftware/SimulationIO
[submodule "DREAM3D_Plugins/DREAM3DReview"]
	path = DREAM3D_Plugins/DREAM3DReview
	url = https://github.com/DREAM3D/DREAM3DReview
[submodule "DREAM3D_Plugins/UCSBUtilities"]
	path = DREAM3D_Plugins/UCSBUtilities
	url = https://github.com/DREAM3D/UCSBUtilities
[submodule "DREAM3D_Data"]
	path = DREAM3D_Data
	url = https://github.com/DREAM3D/DREAM3D_Data
